*{
    margin: 0;
    padding: 0;
}
@font-face {
	font-family: 'PPPangramSans-Medium';
	src: url('../fonts/pppangramsans-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/pppangramsans-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/pppangramsans-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/pppangramsans-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/pppangramsans-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/pppangramsans-medium.svg#pppangramsans-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
.space{
    display: flex;
    height: 124px;
    background: #181818;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.06);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .num{   
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg{
                    margin: 7px ;
        }

        button{
            display: inline-flex;
            padding: 12px 20px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 8px;
            border: 2px solid #3C3C3C;
            background: transparent;
                a{
                color: var(--white, #FFF);
                font-family: "PPPangramSans-Medium";
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px; /* 153.846% */
            }
                
        }    
                a{
                    color: var(--white, #FFF);
                    font-family: PP Pangram Sans;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px; /* 153.846% */
                }
            
        }
    }
.numb{
    margin-left: 52px;
    margin-right: 32px;
}
.icon{
    margin-right: 60px;
}
.ar{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 60px;
    }
.nav{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    color: var(--white, #FFF);
    font-family: PP Pangram Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 146.667% */
        p{
            color: var(--white, #FFF);
            font-family: "PPPangramSans-Medium";
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 146.667% */ 
        }
    }
.numb{
    color: var(--white, #FFF);
    font-family: Unbounded;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
}
.promo{
    background-image:url(../img/bg.png) ;
    width: 1860px;
    height: 966px;
    border-radius: 0px 0px 36px 36px;
    
}
.zag{
    h1{
        padding-top: 170px;
        color: var(--white, #FFF);
        text-align: center;
        font-family: Unbounded;
        font-size: 89px;
        font-style: normal;
        font-weight: 700;
        line-height: 95px; /* 106.742% */
    }
    p{  
        margin: 40px;
        color: var(--white, #FFF);
        text-align: center;
        font-family: "PPPangramSans-Medium";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
    }
}

.line{
    width: 1320px;
    height: 2px;
    background: rgba(255, 255, 255, 0.20);
    margin: 120px auto;
}
.numbers{
    margin: 0 auto;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
        p{
            color: var(--white, #FFF);
            font-family: "PPPangramSans-Medium";
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px; /* 152.941% */
        }
        text{
            color: black;
            font-size:18px;
            font-weight: 400;
        }

}

